.container-width {
    width: 99%
}

.page-text {
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (max-width: 979px) {
    .page-text {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.bg-white {
    background-color: #fefefe;
}

.text-area {
    /* width: 150px;
    height: 100px; */
    width: 300px;
}