<!DOCTYPE html>
<!--
    Graphs page
    allows users to create graphs from dataset

    Filename: graph.html
-->
{% extends 'base.html' %}
{% load static %}

{% block title_block %}
    Graphs
{% endblock %}

{% block head %}
<!-- chart.js -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.css" integrity="sha512-C7hOmCgGzihKXzyPU/z4nv97W0d9bv4ALuuEbSf6hm93myico9qa0hv4dODThvCsqQUmKmLcJmlpRmCaApr83g==" crossorigin="anonymous" />
<!-- <link rel="stylesheet" href="{% static 'css/header.css' %}"> -->

<!-- temporarily add these until its merged -->
<link rel="stylesheet" href="{% static 'css/header.css' %}">

{% endblock %}

{% block body_block %}
<div class="my-4 pb-3 container-fluid container-width bg-white">
    <div class="page-header row h-100 align-items-center bg-blue">
        <div class="page-text d-inline-flex text-white">
            <h1>Graphs</h1>
        </div>
    </div>
    <div class="container-fluid bg-light">
        <div class="row mt-3 pb-3 h-100">
            <div class="col-md-6">
                <canvas id="bar" width="400" height="400"></canvas>
            </div>
            <div class="col-md-6 align-self-center">
                <form id="dataset">
                    <!-- make this show up without a reload 
                        monkeypatching this to use errorfunction and js-->
                    <div id="message"></div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="graph">Type of Graph</label>
                            <select name="graph" id="graph" class="form-control">
                                <option value="" disabled>Type of Graph</option>
                                <option value="gpa" selected>GPA Bar Chart</option>
                                <option value="ttpt">22 Point Scale Bar Chart</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col" onclick="return false">
                            <button onclick="setGraphType()" class="btn btn-secondary btn-block">Set Graph Type</button>
                        </div>
                    </div>
                    <hr>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="title">Graph Labels</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Title</span>
                                </div>
                                <input name="title" id="title" class="form-control" value="Students vs. GPA" placeholder="E.g. Number of Students vs. GPA">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">x Axis</span>
                                </div>
                                <input name="axisX" id="axisX" class="form-control" value="GPA" placeholder="E.g. GPA">
                            </div>
                        </div>
                        <div class="form-group col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">y Axis</span>
                                </div>
                                <input name="axisY" id="axisY" class="form-control" value="Students" placeholder="E.g. Number of Students">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col" onclick="return false">
                            <button onclick="setGraphDetails()" class="btn btn-secondary btn-block">Set Graph Labels</button>
                        </div>
                    </div>
                    <hr>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="year">Academic Year</label>
                            <select name="year" id="year" class="form-control" required>
                                <option value="" selected disabled>Academic Year</option>
                                {% for year in years %}
                                    <option value="{{ year.gradYear }}">{{ year.gradYear }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col">
                            <label for="plan">Academic Plan</label>
                            <select name="plan" id="plan" class="form-control" required>
                                <option value="" selected disabled>Academic Plan</option>
                                {% for plan in plans %}
                                    <option value="{{ plan.planCode }}">{{ plan.planCode }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col">
                            <label for="type">Type</label>
                            <select name="type" id="type" class="form-control" required>
                                <option value="" selected disabled>Type</option>
                                <option value="percentage">percentage (%)</option>
                                <option value="count">count (#)</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col" onclick="return false">
                            <button id="add" type="submit" class="btn btn-secondary btn-block">Add</button>
                        </div>
                        <div class="form-group col" onclick="return false">
                            <button onclick="removeDataset(this)" class="btn btn-secondary btn-block">Remove</button>
                        </div>
                        <div class="form-group col" onclick="return false">
                            <button onclick="resetDataset(this)" class="btn btn-secondary btn-block">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- django variables -->
<script>
    var token = '{{ csrf_token }}';
    var dataUrl = "{% url 'cs28:data' %}";
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-deferred@1"></script>
<script>
    if (typeof Chart === 'undefined') {
        document.write(unescape('%3Cscript src="{% static "js/fallbacks/Chart.min.js" %}"%3E%3C/script%3E'));
    }
</script>

<script src="{% static 'js/graph.js' %}"></script> 
{% endblock %}
