<!DOCTYPE html>
<!--
    Help page
    Helps the user understand and get around the page.
        Everyone should add how their page works and walk
        the user through how they could use it
    Filename: help.html
    Author: Alana Grant (2390384G)
            Yee Hou, Teoh (2471020t)


-->
{% extends 'base.html' %}
{% load static %}

{% block title_block %}
    Help Page
{% endblock %}

{% block head %}
<!-- CSS file -->
<link rel="stylesheet" href="{% static 'css/header.css' %}">
{% endblock %}

{% block body_block %}
<div class="mt-4 pb-5 container-fluid container-width bg-white">
    <div class="page-header row h-100 align-items-center bg-blue">
        <div class="page-text d-inline-flex text-white">
            <h1>Help Page</h1>
        </div>
    </div>
    <div class="container w-75 mt-3" id="accordion">
        <h2 class="mb-3">
            Introduction</br>
            <small class="text-muted">Not that it matters. You won't read it anyways.</small>
        </h2>
        <hr class="w-100">

        <p class="lead mb-3">
            Just a year ago, you were toiling in front of your screen, jabbing away
            at keyboard deciding which student to fail and on what account; all these 
            while paying Microsoft their costly annual subscription for a few weeks worth
            of editing an excel spreadsheet. That's why you came up to us, to streamline
            the failings (touch wood) without knocking a chunk out of your department budget.

            <dl class="row">
                <dt class="col-sm-2">View Course Grades</dt>
                <dd class="col-sm-10">
                    <p>
                        Course grades &mdash; responsible for more sleepless nights than
                        insomnia. Here's where you view your worst nightmares. You could
                        even sort them in increasing or decreasing order.
                    </p>
                </dd>

                <dt class="col-sm-2">Manage</dt>
                <dd class="col-sm-10">
                    <p>
                        Missing grades? Discretionary zones? Passing (hopefully) and
                        failing is just a few clicks away. You could edit and export
                        individual user grades and Degree Classification.

                        Plus, the rows are highlighted to help you identify issues
                        so even the luckiest of your students wouldn't slip by to
                        get an undeserving pass.
                    </p>
                </dd>

                <dt class="col-sm-2">Upload</dt>
                <dd class="col-sm-10">
                    <p>
                        Yes, that's great and all but how could you get those pesky
                        data into the database? That's what the upload page is for. The
                        name is self explanatory.
                    </p>
                </dd>
            </dl>

        </p>
        <h2 class="mb-3">
            Not sure how to use the page?</br>
            <small class="text-muted">Here's how. You're welcome.</small>
        </h2>
        <hr class="w-100">

        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn" data-toggle="collapse" data-target="#collapseOne">
                    Manage
                    </button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false">
                        Course Grades
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    This page is for looking up different courses and the grades of the students taking those courses. <br>
                    The user is able to filter what year is shown from the drop down menu 'Year' above the table and you can sort the 
                    tables in asending or desending order from the small arrows next to the column title. <br>
                    Users also have the option to search for any specific information (i.e. student number, course code) they want from the table using the search box on the right side above the table.
                    Next to the search box there is the option to change the view of the data, go into fullscreen or toggle what data is shown in the table.
                </div>
            </div>
        </div>
        <div class="mb-3 card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn collapsed" data-toggle="collapse" data-target="#collapseThree">
                    Upload
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <h2 class="mb-3">
            Still don't get it?</br>
            <small class="text-muted">We knew you wouldn't.</small>
        </h2>
        <hr class="w-100">
        <p class="lead">
            You're a chemist, not a coder &mdash; we wouldn't know what makes coke and
            mentos goes boom either. So drop us an email if you need us to walk
            you through on how to use the site (and maybe give us a crash course
            on the sugary reaction while you're at it!).
        </p>
        <h4 class=mb-3>Team members and contact</h4>
        <dl class="row">
            <dt class="col-sm-2">Yee Hou Teoh</dt>
            <dd class="col-sm-10">
                <p class="mb-2">
                    I know how to use the product in general in addition to 
                    what I've worked on (the 
                    <a href="{% url 'cs28:manage' %}">
                        manage page
                    </a>
                    ). If you need to know anything specific about the other 
                    pages, please reach out to the other team members.
                    </br>
                </p>
                <p class=mb-3>Contact me at: <a href="mailto:2471020t@student.gla.ac.uk">2471020t@student.gla.ac.uk</a></p>
            </dd>

            <dt class="col-sm-2">Alana Grant</dt>
            <dd class="col-sm-10">
                <p class="mb-2">
                    The page I worked on majority of the time was the course grades 
                    (<a href="{% url 'cs28:module_grades' %}">
                        the course grades page
                    </a>),
                    feel free to contact me about any queries you have.
                    </br>
                </p>
                <p class=mb-3>Contact me at: <a href="mailto:2390384G@student.gla.ac.uk">2390384G@student.gla.ac.uk</a></p>
            </dd>

            <!-- To the rest of the team, please add yr contact details below Here's a template for y'all
            to copy-paste -->
            <dt class="col-sm-2">Team Member</dt>
            <dd class="col-sm-10">
                <p class="mb-2">
                    <!-- Todo: Add which page you've worked on and what they should contact
                    you about -->
                    Lorem Ipsum 
                    </br>
                </p>
                <!-- Todo: Change the email to yrs. remember the mailto:  -->
                <p class=mb-3>Contact me at: <a href="mailto:1234567a@student.gla.ac.uk">1234567a@student.gla.ac.uk</a></p>
            </dd>
            
        </dl>

    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}