<!DOCTYPE html>
<!--
    Manage page

    Author: Yee Hou, Teoh (2471020t)
    Filename: manage.html
-->

{% extends 'base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">

<!-- jump to page -->
<link href="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/page-jump-to/bootstrap-table-page-jump-to.min.css" rel="stylesheet">

<!-- editable tables -->
<link href="https://cdn.jsdelivr.net/gh/Talv/x-editable@develop/dist/bootstrap4-editable/css/bootstrap-editable.css" rel="stylesheet">
{% endblock %}


{% block title_block %}
    Manage Students
{% endblock %}


{% block body_block %}
<div class="mt-4 pb-5 container-fluid container-width bg-white">
    <div class="page-header row h-100 align-items-center bg-blue">
        <div class="page-text d-inline-flex text-white">
            <h1>Manage Students</h1>
        </div>
    </div>
    <div class="mt-3" id="message"></div>
    <div class="row justify-content-between">
        <div class="col-auto d-flex mt-3">
        <!-- <div id="toolbar"> -->
            <form class="form-inline" id="calculateForm">
                <div class="form-row">
                    <!-- <label class="mx-2">Year: </label> -->
                    <div class="col-auto">
                        <select name="year" id="year" class="form-control">
                            <option value="" selected disabled>Graduation Year</option>
                            {% for year in years %}
                                <option value="{{ year.gradYear }}">{{ year.gradYear }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-auto">
                        <select name="plan" id="plan" class="form-control">
                            <option value="" selected disabled>Academic Plan</option>
                            {% for plan in plans %}
                                <option value="{{ plan.planCode }}">{{ plan.planCode }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-auto" id="calculate">
                        <button class="btn btn-secondary"
                                onclick="return false">
                            Get Students
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <!-- </div> -->
        <div class="col-auto d-flex mt-3">
            <form class="form-inline">
                <div class="form-row">
                    <label class="mx-2">Color Code Legend: </label>
                    <div class="col-auto">
                        <button class="btn btn-success" disabled>Degree Overridden</button>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-danger" disabled>Incomplete Course Assessment</button>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-warning" disabled>Discretionary</button>
                    </div>
                    <!-- <div class="col-auto">
                        <button class="btn btn-primary" disabled>Special Code</button>
                    </div> -->
                    <!-- <div class="col-auto">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="anonymizeCheck" value="anonymize">
                            <label class="form-check-label" for="anonymizeCheck">Anonymize</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="mcLayoutCheck" value="mcLayout">
                            <label class="form-check-label" for="mcLayoutCheck">MyCampus Layout</label>
                        </div>
                    </div> -->
                </div>
            </form>
        </div>
    </div>
    <hr class="w-100">

    <div id="toolbar">
        <form class="form-inline">
            <div class="form-row">
                <div class="col-auto">
                    <!-- return false to prevent refresh -->
                    <button class="btn btn-secondary"
                            id="myCampusLayout"
                            onclick="return false">
                        Toggle MyCampus Layout
                    </button>
                    <button class="btn btn-secondary"
                            id="anonymize"
                            onclick="return false">
                        Anonymize
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!-- pagination and sort are client side. -->
    <!-- notes:
    - adding data-search-highlight="true" breaks editable fields.
    - data-reorderable-columns="true" breaks table-->
    <table id="table"
           class="table table-bordered"
           data-search-accent-neutralise="true"

           data-unique-id="id"
           data-row-style="rowStyle"

           data-height="650"
           data-key-events="true"

           data-pagination="true"
           data-show-jump-to="true"
           data-side-pagination="client"
           data-server-sort="false"

           data-loading-template="loadingTemplate"

           data-toolbar="#toolbar"

           data-search="true"
           data-search-highlight="true"

           data-show-refresh="true"
           data-show-toggle="true"
           data-show-fullscreen="true"
           data-show-columns="true"
           data-show-columns-toggle-all="true"
           data-show-export="true"

           data-detail-view="true">
    </table>
</div>
{% endblock %}

{% block scripts %}
<!-- variables that uses django template (could not use them in separate js) -->
<script>
    var edit = {% if user.is_superuser or user.is_staff %} true {% else %} false {% endif %};
    var calculateUrl = "{% url 'cs28:calculate' %}";
    var dataUrl = "{% url 'cs28:data' %}";
    var updateUrl = "{% url 'cs28:update' %}";
    var token = "{{ csrf_token }}";
</script>
<script src="{% static 'js/manage.js' %}"></script>

<!-- pdf export -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js" integrity="sha512-ToRWKKOvhBSS8EtqSflysM/S7v9bB9V0X3B1+E7xo7XZBEZCPL3VX5SFIp8zxY19r7Sz0svqQVbAOx+QcLQSAQ==" crossorigin="anonymous"></scrip>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.0.14/jspdf.plugin.autotable.js" integrity="sha512-9xVpHMGorTPbSEFD6+ex0dKDYKxvciATI70tPCHCGxTkBD3HXboXLTnnpMwgdxms9uOwocFZdUx4AFl4p0FHag==" crossorigin="anonymous"></script>

<!-- excel export -->
<script src="https://cdn.jsdelivr.net/npm/js-xlsx@0.8.22/xlsx.js"></script>
<!-- <script type="text/javascript" src="libs/js-xlsx/xlsx.core.min.js"></script> -->

<!-- keystrokes -->
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/key-events/bootstrap-table-key-events.min.js"></script>

<!-- jump to page -->
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/page-jump-to/bootstrap-table-page-jump-to.min.js"></script>

<!-- editable bootstrap tables -->
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/editable/bootstrap-table-editable.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/Talv/x-editable@develop/dist/bootstrap4-editable/js/bootstrap-editable.min.js"></script>

<!-- bootstrap table export -->
<!-- <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/TableExport/5.2.0/js/tableexport.min.js" integrity="sha512-XmZS54be9JGMZjf+zk61JZaLZyjTRgs41JLSmx5QlIP5F+sSGIyzD2eJyxD4K6kGGr7AsVhaitzZ2WTfzpsQzg==" crossorigin="anonymous"></script> -->
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/export/bootstrap-table-export.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.22/tableExport.min.js"></script>


<!-- dependency for export -->

<!-- <script type="text/javascript" src="jquery.base64.js"></script> -->
{% endblock %}
