<!DOCTYPE html>
<!--
    Password Reset Complete

    Author: Yee Hou, Teoh (2471020t)
    Filename: password_reset_complete.html
-->

{% extends 'base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
{% endblock %}


{% block title_block %}
Password reset complete
{% endblock %}


{% block body_block %}
<div class="login-form">
    <div class="box">
        {% if messages %}
            {% for message in messages %}
                <div class="alert
                            {% if message.tags %}
                                alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}
                            {% endif %}
                            alert-dismissible
                            fade
                            show"
                     role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
        <h2 class="text-center">Password reset complete</h2>
        <p class="text-center"><strong>Your new password has been set.</strong></p>
        <a role="button" href="{% url 'cs28:login' %}" class="btn btn-primary btn-block">Go to login</a>

    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}